/* first div */
body, html {
  height: 100%;
  margin: 0;
  background-color: rgba(18,17,19);;
}



#firstdiv {
    background-color: rgba(18,17,19);
    height: 100%;
    width: 110%;
    position:absolute;
    z-index: 3;
    overflow: hidden;
    }
  
    #imagefirstdiv{
  position:absolute;
  width: 17vw;
  height: 25vw;
  left: 40vw;
  top: 5vw;
    }
  
    #confirm{
      position:absolute;
  width: 5vw;
  height: 2vw;
  left: 46vw;
  top: 38vw; 
    }
  
    #textfirstdiv{
      position:absolute;
  font-size: 2vw;
  left: 21vw;
  top: 30vw; 
    }
  
    @media screen and (max-width: 800px) {
      #imagefirstdiv{
        position:absolute;
        width: 230px;
        height: 300px;
        left: 10vw;
        top: 5vw;
          }
  
          #textfirstdiv{
            position:absolute;
        font-size: 1.3em;
        word-wrap: break-word;
        padding-inline-end: 50px; 
        left: 20px;
        top: 55%; 
        text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
          }
  
          #confirm{
            position:absolute;
            height: 40px;
            width: 70px;
        font-size: 20px;
        padding-bottom: 20px;
        left: 120px;
        top: 85%; 
          }
  
         
    
    }


/*recording video style*/



    
      #sharestorydiv{
        background-color: rgba(19,18,20,255);
        height: 200%;
        width: 110%;
        position:absolute;
        top:200%;
        z-index: 3;
      }
      
        
        #btnStart{
          position: absolute;
            top: 77%;
            right: 33%;
            z-index: 4;
            width: 20%;
            -webkit-box-shadow: 0 8px 6px -6px #333;
            -moz-box-shadow: 0 8px 6px -6px #333;
            box-shadow: 0 8px 6px -6px #333;
        }
        
        #btnStop{
          position: absolute;
            top: 77%;
            right: 33%;
            z-index: 3;
            width: 20%;
            -webkit-box-shadow: 0 8px 6px -6px #333;
            -moz-box-shadow: 0 8px 6px -6px #333;
            box-shadow: 0 8px 6px -6px #333;
        }
        
        #vid1{
          position: absolute;
          top: 10%;
          left: 25%;
          z-index: 1;
          width: 50%;
          color: #ffffff;
          -webkit-box-shadow: 0 8px 6px -6px #333;
          -moz-box-shadow: 0 8px 6px -6px #333;
          box-shadow: 0 8px 6px -6px #333;
        }
        
        #vid2{
          position: absolute;
          top: 10%;
         left: 25%;
          z-index: 0;
          width: 50%;
          color: #ffffff;
          -webkit-box-shadow: 0 8px 6px -6px #333;
          -moz-box-shadow: 0 8px 6px -6px #333;
          box-shadow: 0 8px 6px -6px #333;
        }
        
        
        
        
        
        #videoName{
          width: 20%;
          height: 5%;
        position: relative;
        bottom: 80%;
        left: 2.5%;
        z-index: 5;
        }
        
        #videoDescription{
        width: 20%;
        height: 40%;
        position: relative;
        bottom: 77%;
        left: 2.5%;
        z-index: 5;
        }
        
        #uploadvideo{
          position: absolute;
          top: 77%;
          right: 57%;
          z-index: 2;
          width: 20%;
          -webkit-box-shadow: 0 8px 6px -6px #333;
          -moz-box-shadow: 0 8px 6px -6px #333;
          box-shadow: 0 8px 6px -6px #333; 
        }
        
        #progress-container{
        position: absolute;
          top: 165%;
          right: 20%;
          z-index: 50000000000;
          width: 70%;
          -webkit-box-shadow: 0 8px 6px -6px #333;
          -moz-box-shadow: 0 8px 6px -6px #333;
          box-shadow: 0 8px 6px -6px #333; 
        }
        
        #progress{
        position: absolute;
          top: 165%;
          right: 20%;
          z-index: 50000000000;
          width: 70%;
          -webkit-box-shadow: 0 8px 6px -6px #333;
          -moz-box-shadow: 0 8px 6px -6px #333;
          box-shadow: 0 8px 6px -6px #333; 
        }
    
      

      /*loader*/
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(18,18,20,255) ;
    display:flex;
    z-index: 500000;
  }
  
  .loader {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner{
    position: absolute;
    top:10%;
    right:37%;
  }
  
  @media screen and (max-width: 800px) {
    .loader-inner{
      position: absolute;
      top:10%;
      right:-10%;
    }
  
  }
  

  .bg {
    /* The image used */
  
    /* Full height */
    height: 100%; 
    background-color: rgba(18,17,19);;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }


  /*carosselcontainer*/

  #carosselcontainer{
    position: absolute;
    top: 1%;
   left: 30%;
    z-index: 4;
    width: 45%;
    height: 70%;
    color: #ffffff;
    -webkit-box-shadow: 0 8px 6px -6px #333;
    -moz-box-shadow: 0 8px 6px -6px #333;
    box-shadow: 0 8px 6px -6px #333;  }

    #centered {
      position: absolute;
      margin: 1%;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #glove {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #glovesyringe{
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform: rotate(180deg);

    }

    #okbutton{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #progress-container{
      position: absolute;
      top: 85%;
      z-index: 0;
    }

    #resultscontainer{
      position: absolute;
      top: 90%;
    }

    #mainbody{
      position: relative;
      width: 100%;
      height: 100%;
      top: -148%;
    }

    #backbutton{
      position: absolute;
      top: 10%;
      left: 4%;
    }